/* main color text #757575;*/
/* second color text#212121;*/
/* main color background  */
/* second color background */
/* accent color #2196F3;*/
/* footer color bacrground #2F303A; */
/* white #FFFFFF;  */
:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color: #ffffff;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.list {
   list-style: none; 
}
/* logo */

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.logo-color-blue {
    color: var(--accent-color);
}
/* Site nav */
.site-nav .link {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}