/* main color text #757575;*/
/* second color text#212121;*/
/* main color background  */
/* second color background */
/* accent color #2196F3;*/
/* footer color bacrground #2F303A; */
/* white #FFFFFF;  */
:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color: #ffffff;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}
/* изменить в п Особливості line-height: 1.2; нам 1,7 */

/* .list, */
.team-list,
.site-nav-list,
.feature-list,
.work-list,
.team-list,
.address-list,
.filter-button-list {
   list-style: none; 
}

.logo,
.site-nav-link,
.address-up {
    text-decoration: none; 
}

/* logo */

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.logo-color-blue {
    color: var(--accent-color);
}
.logo-color-white {
    color: var(--primary-white-color);
}
/* Site nav */
.site-nav-link,
.address-up {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.address-up {
    color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.address-up:hover,
.address-up:focus,
.current {
    color: var(--accent-color);
}


                    /* Студія */

/* Main */
/* Шапка */
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}

/* Особливості */
.feature-title {

}
.feature-name {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
}
.feature-text {
    line-height: 1.7;
}
/* Чим ми займаємося */
.work-title,
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.work-foto {

}
/* Наша команда */
.team-img {

}
.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-work {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
}
/* footer */
.address-down {
    color: var(--primary-white-color);
    line-height: 1.71;
}
.footer,
.hero {
    background-color: var(--primary-text-color);
}

                    /* Партфоліо */

/* main */
.filter-button {
    color: var(--title-text-color);
    background-color: var(--primary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;   
}
