/* main color text #757575;*/
/* second color text#212121;*/
/* main color background  */
/* second color background */
/* accent color #2196F3;*/
/* footer color bacrground #2F303A; */
/* white #FFFFFF;  */
:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color: #ffffff;
    --primary-black-color:#000000;
    --fist-color-bcg-button: #F5F4FA;
    --footer-color:#2F303A;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}
/* изменить в п Особливості line-height: 1.2; нам 1,7 */

/* .list, */
.team-list,
.site-nav-list,
.feature-list,
.work-list,
.team-list,
.address-list,
.filter-list,
.partfolio-list {
   list-style: none; 
}

.logo,
.site-nav-link,
.address-up {
    text-decoration: none; 
}

/* logo */

.logo {
    color: var(--primary-black-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.logo-color-blue {
    color: var(--accent-color);
}
.logo-color-white {
    color: var(--primary-white-color);
}
/* Site nav */
.site-nav-link,
.address-up {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.address-up {
    color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.address-up:hover,
.address-up:focus,
.current {
    color: var(--accent-color);
}


/* Студія */

/* Main */
/* Шапка */
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--primary-black-color);
    background-color: var(--primary-text-color);
}

/* Особливості */
.feature-title {

}
.feature-name {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
}
.feature-text {
    line-height: 1.7;
}
/* Чим ми займаємося */
.work-title,
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.work-foto {

}
/* Наша команда */
.team-img {

}
.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
}
.team-work {
    color: var(--primary-text-color);
    font-size: 16px;
}
/* footer */
.address-down {
    color: var(--primary-white-color);
    line-height: 1.71;
}
.footer,
.hero {
    background-color: var(--footer-color);
}

/* Партфоліо */

/* main */
.filter-title {

}
.filter-button {
    color: var(--title-text-color);
    background-color: var(--fist-color-bcg-button);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px   
}
.filter-button:hover,
.filter-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Partfolio */
.partfolio-foto {

}
.partfolio-title {
color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.partfolio-name {
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.88;
}

