:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--primary-black-color: #000000;
	--fist-color-bcg-button: #f5f4fa;
	--footer-color: #2f303a;
	--border-color: #ececec;
	--border-second-color: #eeeeee;
	--hero-color: #c4c4c4;
	--icon-color: #afb1b8;
	--second-color-bcg-button: #188CE8;
}