/* Особливості */
.feature {
	display: flex;
  padding-top: 94px;
	padding-bottom: 94px;
}

.feature__list {
	display: flex;
	gap: 30px;
}

.feature-card__wrapper {
	display: flex;
	width: 270px;
	height: 120px;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 100px;
	margin-bottom: 30px;
	background-color: var(--fist-color-bcg-button);
	border-radius: 4px;
}

.feature__title {
	visibility: hidden;
	pointer-events: none;
	position: absolute;
}

.feature-card__name {
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 700;
	line-height: 1.15;
	text-transform: uppercase;
}

.feature-card__text {
	line-height: 1.7;
}