
header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--primary-white-color);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-nav {
	display: none;
}

.auth-nav {
	display: none;
}

.mobile-menu-button {
	background-color: transparent;
	border: none;
	padding: 0;
	line-height: 0;
}


// .page-header {
// 	border: 1px solid var(--border-color);
// }

// .nav {
// 	display: flex;
// 	align-items: center;
// }

// .site-nav {
// 	display: flex;
// 	margin-left: 93px;
// }

// .site-nav__link {
//   position: relative;

// 	&:hover,
// 	&:focus {
// 		color: var(--accent-color);
// 	}	
//   }

// .site-nav__link,
// .auth-nav__link {
// 	color: var(--title-text-color);
// 	font-weight: 500;
// 	font-size: 14px;
// 	line-height: 1.15;
// 	letter-spacing: 0.02em;

//   padding-top: 32px;
// 	padding-bottom: 32px;

// 	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .site-nav__item:not(:last-child) {
// 	margin-right: 50px;
// }

// .auth-nav {
// 	display: flex;
// 	margin-left: auto;
// }

// .auth-nav__link {
//   display: flex;
// 	color: var(--primary-text-color);

// 	&:hover,
// 	&:focus {
// 		color: var(--accent-color);
// 		fill: var(--accent-color);
// 	}	
// }

// .auth-nav__item:not(:last-child) {
// 	margin-right: 30px;
// }

// .auth-nav__icon {
// 	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

// 	.auth-nav__link:hover &,
// 	.auth-nav__link:focus & {
// 		color: var(--accent-color);
// 		fill: var(--accent-color);
// 	}	
// }

// .auth-nav__icon--smartphone {
// 	fill: var(--primary-text-color);
// 	width: 16px;
// 	height: 12px;
// 	margin-right: 10px;
// }

// .auth-nav__icon--envelope {
// 	fill: var(--primary-text-color);
// 	width: 10px;
// 	height: 16px;
// 	margin-right: 10px;
// }





