.team-social {
	display: flex;
	justify-content: space-between;
	width: 206px;
}

.team-social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: var(--primary-white-color);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}	
}

.team-social__icon {
	fill: var(--icon-color);

	.team-social__link:hover &,
	.team-social__link:focus & {
		fill: var(--primary-white-color);
	}	
}

.join__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1, 14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
}

.join-social {
	display: flex;
	justify-content: space-between;
	width: 206px;
}

.join-social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}	
}

.join-social__icon {
	fill: var(--primary-white-color);
}

